services:
  keiba-app:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: keiba-app
    env_file:
      - ./src/.env
    volumes:
      - ./src:/var/www/html
    depends_on:
      - keiba-redis
    networks: [internal,dm_web]

  keiba-web:
    image: nginx:alpine
    container_name: keiba-web
    volumes:
      - ./src:/var/www/html:ro
      - ./src/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - keiba-app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keiba.rule=Host(`keiba.ceri.link`)"
      - "traefik.http.routers.keiba.entrypoints=websecure"
      - "traefik.http.routers.keiba.tls.certresolver=myresolver"
      - "traefik.http.services.keiba.loadbalancer.server.port=80"
      - "traefik.http.middlewares.keiba-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.keiba-http.rule=Host(`keiba.ceri.link`)"
      - "traefik.http.routers.keiba-http.entrypoints=web"
      - "traefik.http.routers.keiba-http.middlewares=keiba-https-redirect"
    networks: [internal,dm_web]

  keiba-redis:
    image: redis:7-alpine
    container_name: keiba-redis
    networks: [internal]

  keiba-queue:
    profiles:
      - queue
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: keiba-queue
    command: php /var/www/html/artisan horizon
    env_file:
      - ./src/.env
    volumes:
      - ./src:/var/www/html
    depends_on:
      - keiba-app
      - keiba-redis
    networks: [internal,dm_web]

networks:
  internal:
  dm_web:
    external: true
    name: demand-monitor_web 
